<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.js"></script>
    <script src="http://jklib.org/ele/cdn/encode.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCon">
    <button type="" ng-click="click()">获取</button>
    <select ng-model="alphabet">
        <option value="{{k}}" ng-repeat="k in vals.keys">{{k}}</option>
    </select>
    <select  ng-model="cityId" ng-change="show()">
        <option value="{{k.id}}" ng-repeat="k in vals.cities[alphabet]">{{k.name}}</option>
    </select><br>
    <input type="text"  ng-keyup="kup()" ng-model="seach">
    <div>
        <ul>
            <li ng-repeat="k in citys"><span>{{k.name}}</span><span>{{k.geohash}}</span></li>
        </ul>
    </div>
    <script>
     //定义全局变量，用于接受获取的数据
        var global_data;
        var geohash;
        angular.module("myApp",[])
        .controller("myCon",["$scope","$http",function($scope,$http){
            //点击获取按钮触发事件，发送请求http，获取数据
            $scope.click = function(){
                $http({
                    url:"http://jklib.org/ele/cities.ashx",
                    method:"get"
                })
                //data是请求的所有数据
                .success(function(data){
                    // console.log(data);
                    global_data = data;
                    //定义一个对象，将所有键名和所有数据存放其中
                    $scope.vals={
                        keys:Object.keys(data),
                        cities:data
                    }
                })
               
            }
            //当选择城市后，调用show方法，获取地理哈希值
            $scope.show = function(){
                var city,
                cities = global_data[$scope.alphabet];//得到对应键名的城市组
                for(var i=0; i<cities.length; i++){
                    //因为id是唯一的，所以当城市id值相等时，表示找到该城市组，并返回结束寻找
                    if($scope.cityId == cities[i].id){
                        city = cities[i];
                        break;
                    }
                } 
                //获取该城市的地理哈希值
                geohash = geohashObj.encode( city.latitude, city.longitude); 
                console.log(geohash);       
            }
            //当按下键盘时触发事件,发送http请求，并获取数据
            $scope.kup = function(){
               console.log($scope.seach); 
               //如果输入的是空值就返回
              if(!$scope.seach) return ;
              //发送请求
              $http({
                  url:'http://jklib.org/ele/pois.ashx?geohash=' + geohash + '&keyword=' + $scope.seach,
                  method:"get"
              })
              //请求成功后，获取数据
              .success(function(data){
                  $scope.citys = data;
              })
            }
        }])
    </script>
</body>
</html>